<!-- MODULO GESTAO-->
{% load static %}
<!doctype html>
<html lang="pt-br" class="h-100">

<head>
    {% block titulo %}
    <title>ProBluInfo</title>
    {% endblock %}

    <!-- Ícone do favicon -->
    <link href="{% static 'img/favico.png' %}" rel="shortcut icon" type="image/x-icon" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/pbi_gestao.css' %}" rel="stylesheet">
    <link href="{% static 'css/admin.css' %}" rel="stylesheet">
    
    {% block styles %}
    
    {% endblock %}

</head>

<body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
    <!-- Bloco com o menu principal -->
    {% block menu %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-pbi font-115 shadow">
        <a class="navbar-brand" href="{% url 'base_gestao' %}">
            <img class="logo_small" src="{% static 'img/logo.png' %}" width="40" height="40" alt="" >
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    Pessoas
                </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'cadastra_pessoas' %}">Cadastrar</a></li>
                <li><a class="dropdown-item" href="{% url 'lista_pessoas' %}">Listar</a></li>
                <li><a class="dropdown-item" href="{% url 'exclui_pessoas' %}">Excluir</a></li>
                <li><a class="dropdown-item" href="{% url 'altera_pessoas' %}">Alterar</a></li>
            </ul>
            </li>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    Financeiro
                </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'cadastra_lancamentos' %}">Cadastrar</a></li>
                <li><a class="dropdown-item" href="{% url 'lista_lancamentos' %}">Listar</a></li>
                <li><a class="dropdown-item" href="{% url 'exclui_lancamentos' %}">Excluir</a></li>
                <li><a class="dropdown-item" href="{% url 'altera_lancamentos' %}">Alterar</a></li>
            </ul>
            </li>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    Cursos
                </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'cadastra_cursos' %}">Cadastrar</a></li>
                <li><a class="dropdown-item" href="{% url 'lista_cursos' %}">Listar</a></li>
                <li><a class="dropdown-item" href="{% url 'exclui_cursos' %}">Excluir</a></li>
                <li><a class="dropdown-item" href="{% url 'altera_cursos' %}">Alterar</a></li>
            </ul>
            </li>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-book" aria-hidden="true"></i>
                    Salas
                </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'cadastra_salas' %}">Cadastrar</a></li>
                <li><a class="dropdown-item" href="{% url 'lista_salas' %}">Listar</a></li>
                <li><a class="dropdown-item" href="{% url 'exclui_salas' %}">Excluir</a></li>
                <li><a class="dropdown-item" href="{% url 'altera_salas' %}">Alterar</a></li>
            </ul>
            </li>
            <ul class="navbar-nav">
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-calculator" aria-hidden="true"></i>
                    Notas
                </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'cadastra_notas' %}">Cadastrar</a></li>
                <li><a class="dropdown-item" href="{% url 'lista_notas' %}">Listar</a></li>
                <li><a class="dropdown-item" href="{% url 'exclui_notas' %}">Excluir</a></li>
                <li><a class="dropdown-item" href="{% url 'altera_notas' %}">Alterar</a></li>
            </ul>
            </li>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                    Matriculas
                </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'cadastra_matriculas' %}">Cadastrar</a></li>
                <li><a class="dropdown-item" href="{% url 'lista_matriculas' %}">Listar</a></li>
                <li><a class="dropdown-item" href="{% url 'exclui_matriculas' %}">Excluir</a></li>
                <li><a class="dropdown-item" href="{% url 'altera_matriculas' %}">Alterar</a></li>
            </ul>
            </li>
        </ul>
        {% endblock %}
        <ul class="navbar-nav" >
            <li class="nav-item dropdown" >
                <a class="nav-link text-white dropdown-toggle px-3" href="#" id="navbarDropdown" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                        <span id="username"> {{ request.user }} </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'suporte' %}">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                        Suporte</a>
                <a class="dropdown-item" href="{% url 'atualizar_dados' %}">
                    <i class="fa fa-user" aria-hidden="true"></i>
                        Meus dados</a>
                <a class="dropdown-item" href="{%url 'altera_senha'%}">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                        Alterar senha</a>
                <a class="dropdown-item" href="{%url 'sobre'%}">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        Sobre</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Sair</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
       
     <!-- Bloco de conteúdo -->
     <div class="container py-5">
        {% block conteudo %}
        BEM VINDO AO MODULO GESTÃO
        {% endblock %}
    </div>

    </main>

    <footer class="mt-auto">

        <!-- Rodapé -->
        <div class="container-fluid bg-light text-center p-3">
            <div class="row">
                <div class="col-md-4 mx-auto text-center">
                    <img src="{% static 'img/logo.png' %}" height="68" class="float-left" alt="">
                    <p>
                        <span class="lead">PROBLUINFO</span><br>
                        <span>Desenvolvido pela Equipe SuperDev2021</span>
                    </p>
                </div>
                </p>
            </div>
    </footer>

    <!-- Importação do JS -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Bloco destinado aos scripts para cada página -->
    {% block scripts %}

    {% endblock %}

</body>

</html>