{% extends 'base_gestao.html' %}
{% block conteudo %}

<div class="container bg-light back02">
    <form method="POST" class="form-group" name="matriculas_form" action="">
        {% csrf_token %}

        <div class="form-row">
            <div class="form-group col-md-4">
                <div><h4>Cadatrar Matriculas</h4></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="id">ID </label>
                <input type="text" class="form-control" id="id" name="id" maxlength="100" required
                       value="{% if request.POST %}{{ request.POST.id }}{% elif object.id %}{{ object.id }}{% endif %}">
                <p class="errorlist">{{ form.errors.id }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="dt_inicio">Data de Inicio </label>
                <input type="date" class="form-control" id="dt_inicio" placeholder="dd/mm/aaaa" required name="dt_inicio"  maxlength="10"
                       value="{% if request.POST %}{{ request.POST.dt_inicio }}{% elif object.dt_inicio %}{{ object.dt_inicio }}{% endif %}">
                <p class="errorlist">{{ form.errors.dt_inicio }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="dt_fim">Data de Fim </label>
                <input type="date" class="form-control" id="dt_fim" placeholder="dd/mm/aaaa" required name="dt_fim"  maxlength="10"
                       value="{% if request.POST %}{{ request.POST.dt_fim }}{% elif object.dt_fim %}{{ object.dt_fim }}{% endif %}">
                <p class="errorlist">{{ form.errors.dt_fim }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="qtd_dias">Quantidade de Dias</label>
                <input type="text" class="form-control" id="qtd_dias" name="qtd_dias" maxlength="14"
                       value="{% if request.POST %}{{ request.POST.qtd_dias }}{% elif object.qtd_dias %}{{ object.qtd_dias }}{% endif %}">
                <p class="errorlist">{{ form.errors.qtd_dias }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="qtd_horas">Quantidade de Horas</label>
                <input type="text" class="form-control" id="qtd_horas" name="qtd_horas" maxlength="14"
                       value="{% if request.POST %}{{ request.POST.qtd_horas }}{% elif object.qtd_horas %}{{ object.qtd_horas }}{% endif %}">
                <p class="errorlist">{{ form.errors.qtd_horas }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="periodo">Periodos</label>
                <input type="text" class="form-control" id="periodo" name="periodo" maxlength="14" title="('1' , 'Matutino'),('2' , 'Verpertino'),('3', 'Noturno')"
                       value="{% if request.POST %}{{ request.POST.periodo }}{% elif object.periodo %}{{ object.periodo }}{% endif %}">
                <p class="errorlist">{{ form.errors.periodo }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="id_aluno_id">Aluno ID</label>
                <input type="text" class="form-control" id="id_aluno_id" name="id_aluno_id" maxlength="14"
                       value="{% if request.POST %}{{ request.POST.id_aluno_id }}{% elif object.id_aluno_id %}{{ object.id_aluno_id }}{% endif %}">
                <p class="errorlist">{{ form.errors.id_aluno_id }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="id_curso_id">Curso ID</label>
                <input type="text" class="form-control" id="id_curso_id" name="id_curso_id" maxlength="14"
                       value="{% if request.POST %}{{ request.POST.id_curso_id }}{% elif object.id_curso_id %}{{ object.id_curso_id }}{% endif %}">
                <p class="errorlist">{{ form.errors.id_curso_id }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="id_instrutor_id">Instrutor ID</label>
                <input type="text" class="form-control" id="id_instrutor_id" name="id_instrutor_id" maxlength="14"
                       value="{% if request.POST %}{{ request.POST.id_instrutor_id }}{% elif object.id_instrutor_id %}{{ object.id_instrutor_id }}{% endif %}">
                <p class="errorlist">{{ form.errors.id_instrutor_id }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="id_perfil_id">Perfil ID</label>
                <input type="text" class="form-control" id="id_perfil_id" name="id_perfil_id" maxlength="14"
                       value="{% if request.POST %}{{ request.POST.id_perfil_id }}{% elif object.id_perfil_id %}{{ object.id_perfil_id }}{% endif %}">
                <p class="errorlist">{{ form.errors.id_perfil_id }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="id_sala_id">Sala ID</label>
                <input type="text" class="form-control" id="id_sala_id" name="id_sala_id" maxlength="14"
                       value="{% if request.POST %}{{ request.POST.id_sala_id }}{% elif object.id_sala_id %}{{ object.id_sala_id }}{% endif %}">
                <p class="errorlist">{{ form.errors.id_sala_id }}</p>
            </div>
            <div class="form-group col-md-3">
                <label for="id_vendedor_id">Vendedor ID</label>
                <input type="text" class="form-control" id="id_vendedor_id" name="id_vendedor_id" maxlength="14"
                       value="{% if request.POST %}{{ request.POST.id_vendedor_id }}{% elif object.id_vendedor_id %}{{ object.id_vendedor_id }}{% endif %}">
                <p class="errorlist">{{ form.errors.id_vendedor_id }}</p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col d-flex justify-content-between">
                <button class="btn btn-primary px-4 shadow-sm noprint" type="submit">Salvar</button>
                <button class="btn btn-danger px-4 shadow-sm noprint" type="submit">Apagar</button>
            </div>
        </div>
{% endblock %}