{% extends 'base.html' %}
{% block titulo %}Cadastra Cursos{% endblock %}
{% block corpo %}
<form method="post">
  {% csrf_token %}
    <div class="mb-3 row">
        <label for="colFormLabelLg" class="col-2 col-form-label col-form-label-lg"><b>Curso</b></label>
        <div class="col-10">
          <input type="text" name="nm_curso" class="form-control form-control-lg" max_length=50 id="colFormLabelLg" placeholder="Nome do curso" required>
        </div>
    </div>
    
    <div class="mb-3 row">
        <label for="colFormLabelLg" class="col-2 col-form-label col-form-label-lg"><b>Carga horária</b></label>
        <div class="col-10">
          <input type="number" min="0" name="carga_horaria" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Carga horária" required>
        </div>
    </div>
    
    <div class="mb-3 row">
        <label for="colFormLabelLg" class="col-2 col-form-label col-form-label-lg"><b>R$</b> </label>
        <div class="col-10">
          <input type="number" value="0" min="0" name="vl_curso" class="form-control form-control-lg" id="colFormLabelLg" placeholder="R$" required>
        </div>
    </div>
  </div>
    
    {% include 'acoes_form.html' %}
</form>
{% endblock %}