{% extends 'base.html' %}

{% block titulo %}Cadastra Pessoas{% endblock %}

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

{% block corpo %}
    <div class="container my-3 form-control">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="text-center">
                    <label class="fs-3 my-3 fw-bold">Cadastro de Pessoas</label>
                </div>
                <div class="mb-3">
                    <label for="nm_completo" class="form-label">Nome Completo:</label>
                    <input type="text" class="form-control" name="nm_completo" id="nm_completo" maxlength="100" required placeholder="Digite seu nome completo" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" class="form-control" name="email" id="email" maxlength="50" placeholder="Digite seu e-mail" />
                </div>
                <div class="mb-3 col-6">
                    <label for="cpf" class="form-label">CPF:</label>
                    <input type="text" class="form-control" name="cpf" id="cpf" maxlength="14" required placeholder="000.000.000-00" />
                </div>
                <div class="mb-3 col-6">
                    <label for="dt_nascimento" class="form-label">Data de nascimento:</label>
                    <input type="date" class="form-control" name="dt_nascimento" id="dt_nascimento" />
                </div>
                <div class="mb-3">
                    <label for="celular" class="form-label">Celular:</label>
                    <input type="tel" class="form-control" name="celular" id="celular" placeholder="(00) 00000-0000"/>
                </div>
                <div class="mb-3 col-6">
                    <label for="nm_resp" class="form-label">Nome do responsável:</label>
                    <input type="text" class="form-control" name="nm_resp" id="nm_resp" placeholder="Digite o nome do responsável" disabled/>
                </div>
                <div class="mb-3 col-6">
                    <label for="fone_res" class="form-label">Telefone do responsável:</label>
                    <input type="tel" class="form-control" name="fone_res" id="fone_res" placeholder="(00) 00000-0000" disabled/>
                </div>
                <div class="mb-3 col-6">
                    <label for="login" class="form-label">Login:</label>
                    <input type="text" class="form-control" name="login" id="login" required
                        placeholder="Digite seu login" />
                </div>
                <div class="mb-3 col-6">
                    <label for="senha" class="form-label">Senha:</label>
                    <input type="password" class="form-control" name="senha" id="senha" required
                        placeholder="Digite sua senha" />
                </div>
                <!-- <div class="mb-3 col-6">
                    <h1>{{ perfis }}</h1>
                    <h1>{{ perfil }}</h1>
                    <h1>{{ form }}</h1>
                </div> -->
                <div class="mb-3">
                    <label for="perfil" class="form-label">Tipo de perfil:</label>
                    <select class="form-select" name="perfil" id="perfil">
                            <option value="0">Selecione o tipo</option>
                        {% for perfil in perfis %}
                            <option value="{{ perfil.0 }}">{{ perfil.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% include 'acoes_form.html' %}
        </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
    integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
    
    <script>
        $(document).ready(function () {
        $('#cpf').mask('000.000.000-00');
        $('#celular').mask('(00) 00000-0000');
        $('#fone_res').mask('(00) 00000-0000');
        
        $('#dt_nascimento').blur(function(){
                var anoDeNascimento = new Date($(this).val()).getFullYear();
                var anoAtual = new Date().getFullYear();
                var idade = anoAtual - anoDeNascimento;
                
                if(idade > 18  || isNaN(idade)){
                    $('#nm_resp').prop('disabled',true);
                    $('#fone_res').prop('disabled',true);
                }else{
                    $('#nm_resp').prop('disabled',false);
                    $('#fone_res').prop('disabled',false);
                }
            })        
        });
    </script>
{% endblock %}