{% extends 'base_gestao.html' %}
{% block conteudo %}

<div class="container bg-light back02">
    <form method="POST" class="form-group" name="matriculas_form" action="">
        <div class="form-row">
            <div class="form-group col-md-4">
                <div><h4> Lista de Matriculas </h4></div>
            </div>
        </div>
    
    {% include 'form_pesquisa.html' %}
    <div class="container mt-3">
        {% if total > 0 %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID do Aluno</th>
                    <th>Periodo</th>
                    <th>ID do Curso</th>
                    <th>ID da Sala</th>
                    <th>ID do Instrutor</th>
                </tr>
            </thead>
            <tbody>
                {% for Matriculas in porPagina %}
                <tr>
                    <td>{{ matriculas.id_aluno }}</td>
                    <td>{{ matriculas.periodo }}</td>
                    <td>{{ matriculas.id_curso }}</td>
                    <td>{{ matriculas.id_sala }}</td>
                    <td>{{ matriculas.id_instrutor }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <label>Total de registros: {{ total }}</label>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% include 'paginacao.html' %}
        {% elif procura %}
            {% include 'sem_registro_encontrado.html' %}
        {% else %}
            {% include 'sem_item_cadastrado.html' %}
        {% endif %}
    </div>

{% endblock %}