{% extends 'base_gestao.html' %}
{% block conteudo %}

<div class="container bg-light back02">
    <form method="POST" class="form-group" name="pessoas_form" action="">
        <div class="form-row">
            <div class="form-group col-md-4">
                <div><h4> Lista de Pessoas </h4></div>
            </div>
        </div>
    
    {% include 'form_pesquisa.html' %}
    <div class="container mt-3">
        {% if total > 0 %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de nascimento</th>
                    <th>Perfil</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoas in porPagina %}
                <tr>
                    <td>{{ pessoas.nm_completo }}</td>
                    <td>{{ pessoas.dt_nascimento }}</td>
                    <td>{{ pessoas.perfil }}</td>
                    <td>{{ pessoas.cpf }}</td>
                    <td>{{ pessoas.telefone }}</td>
                    <td>{{ pessoas.email }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <label>Total de registros: {{ total }}</label>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% include 'paginacao.html' %}
        {% elif procura %}
            {% include 'sem_registro_encontrado.html' %}
        {% else %}
            {% include 'sem_item_cadastrado.html' %}
        {% endif %}
    </div>

{% endblock %}