
/* 
Cores do pbi 
*/
.bg-pbi {
    background-color: #E4C981;
}

.text-pbi {
    color: #E4C981;
}

.border-pbi {
    border-color: #E4C981;
}
.bg-pbi-escuro {
    background-color: #E4C981;
}

.text-pbi-escuro {
    color: #E4C981;
}

.border-pbi-escuro {
    border-color: #E4C981;
}


/* 
Tamanhos diferentes para fontes 
*/
.font-75 {
    font-size: 75%;
}

.font-115 {
    font-size: 115%;
}

.font-125 {
    font-size: 125%;
}

.font-150 {
    font-size: 150%;
}

.font-175 {
    font-size: 175%;
}


/* 
Formatação do DataTable 
*/
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
    top: 15px !important;
}


/* 
Personalização da Barra de menu pra ficar igual do site 
*/
.navbar {
    padding: 0 !important;
}

.navbars{
    padding-left: 10px;
}

.navbar-brand{
    padding-left: -8px
}

.navbar a.nav-link{
    color: black !important;
}

.navbar .nav-item{
    padding: 3px 5px;
}

.navbar .nav-item:hover{
    background-color: #f0dfb0;
}

/* 
Alerta na validação dos formulários (login com senha errada, por exemplo) 
*/
.alert dl, .alert ol, .alert ul {
    margin-top: 0;
    margin-bottom: 0;
}


/*
Largura máxima das tabelas para não ficar mal formatada
*/
table td{
    max-width: 500px;
}
